[submodule "submodules/intera_sdk"]
	path = submodules/intera_sdk
	url = https://github.com/RethinkRobotics/intera_sdk
[submodule "submodules/sawyer_simulator"]
	path = submodules/sawyer_simulator
	url = https://github.com/RethinkRobotics/sawyer_simulator.git
[submodule "submodules/intera_common"]
	path = submodules/intera_common
	url = https://github.com/RethinkRobotics/intera_common
[submodule "submodules/sawyer_robot"]
	path = submodules/sawyer_robot
	url = git@github.com:pabloinigoblasco/sawyer_robot.git
