<launch>
  <include file="$(find sawyer_gazebo)/launch/sawyer_world.launch">
    <arg name="electric_gripper" value="true"/>
  </include>

  <!-- Start the Sawyer pick and place demo -->
  <node pkg="sorting_demo" type="program.py" name="sorting_demo" >
    <remap from="/joint_states" to="/robot/joint_states"/>
  </node>

  <node pkg="topic_tools" type="relay" args="/robot/joint_states /joint_states" name="statedup"/>
  <node pkg="sawyer_ik_5d" type="sawyer_ik_5d_node" name="sawyer_ik_5d_node"  output="screen"/>

    <!---->
    <node pkg="intera_interface" type="joint_trajectory_action_server.py" name="trajectory_action_server"/>
    <node pkg="sorting_demo" type="gripper_action_server.py" name="gripper_action_server"/>

    <include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch">
        <arg name="electric_gripper" value="true"/>
    </include>
</launch>
